<p>BIENBENIDO A TU TUOR DE POKEMON</p>
<button 
[routerLink]="['/login']"
>
Cargar Pokemon

</button>

<button 
[routerLink]="['/pokemon/listar']"
>
Poquedex

</button>
<button 
[routerLink]="['/pokemon/crear']"
>
Crea Tu Pokemon

</button>
<button 
[routerLink]="['/pokemon/editar']"
>
Edita Tu Pokemon

</button>

<h2>
    Bulbasaur, Ivysaur, Venusaur,
    Charmander,
    Charmeleon,
    Charizard,
    Squirtle,
    Wartortle,
    Blastoise,
    Caterpie,
    Metapod,
    Butterfree,
    Weedle,
    Kakuna,
    Beedrill,
    Pidgey,
    Pidgeotto,
    Pidgeot,
    Rattata,
    Raticate,
    Spearow,
    Fearow,
    Ekans,
    Arbok,
    Pikachu,
    Raichu,
    Sandshrew,
    Sandlash,
    Nidoran ,♀
    Nidorina,
</h2>
<img src="https://pbs.twimg.com/media/ET_B-VXWsAA2VuL.jpg" style="max-width:800%;width:auto;height:auto;">