<div class="container">
    <div class="ROW">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Symbolics.com Home</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Menu <span class="sr-only">(current)</span></a>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <div class="col-sm">
                        vote
                    </div>
                    <div class="col-sm">
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>



                </span>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="Ccol-sm">
            <img src="http://symbolics.com/museum/inc/image/logo/logo.gif" alt="">
        </div>
        <div class=" col-sm text-right">
            <img src="http://symbolics.com/small-celebrating-35th-anniversary.png" alt="" width="120" height="126">
        </div>

    </div>
    <div class="row text-center">
        <div class="col-sm">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">OPENNING HOURS:</div>
                <div class="card-body">
                    <div class="COL">
                        MONDEY 00:00-00:00
                    </div>
                    <div class="COL">
                        TUESDAY 00:00-00:00
                    </div>
                    <div class="COL">
                        WEDNESDAY 00:00-00:00
                    </div>
                    <div class="COL">
                        THURSDAY 00:00-00:00
                    </div>
                    <div class="COL">
                        FRYDAY 00:00-00:00
                    </div>
                    <div class="COL">
                        SATURDAY 00:00-00:00
                    </div>
                    <div class="COL">

                        SUNDAY 00:00-00:00
                    </div>
                    <p class="card-text">





                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1>
                        <span class="underline">WELCOME TO </span><span class="underline">THE MUSEUM</span></h1>
                   <small>
                    <p>You are about to enter the Big Internet Museum. Explore an interactive and ever-growing
                        collection about the Internet and its remarkable graphic interface: the World Wide Web.</p>
                    <p>
                        By the way, we don’t have a building. The reason is simple: our collection only exists online.
                        Aside from that it’s a museum like any other – with curators, a diverse permanent collection,
                        temporary exhibitions, different wings, donations, and more. In the Big Internet Museum you can
                        have your name printed on the wall by submitting a piece to the collection! We might even open a
                        gift shop. There, we’ve said it.</p>
                   </small>
                   <button type="button" class="btn btn-dark">Visit Collection</button>
                </div>
            </div>
        </div>

    </div>




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark   md-2 pr-3">
        <button type="button" class="btn btn-primary  md-2 pr-3">Facebook</button>
        <button type="button" class="btn btn-primary  md-2 pr-3">share</button>
        <button type="button" class="btn btn-danger   md-2 pr-3">Pin</button>
        <button type="button" class="btn btn-secondary">Email</button>
    </nav>















</div>