<div class="container">
    <div class="row border border-primary">
        <div class="col-sm-7">
            tablon de anuncios
        </div>
        <div class="col-sm-5">
            <small>
                <a href="">reciente </a>
                <a href="">popular</a>
                <a href="">tour</a>
                <a href="">cómo</a>
                <a href="">iniciar sesión</a>

            </small>

        </div>


    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    Inglés
                    français
                    日本語
                    Alemán
                    русский
                    polskis
                </div>
                <div class="col-sm">
                    <p>¡Bienvenido a Pinboard!
                        Marcadores sociales para introvertidos

                        Pinboard es un sitio de marcadores rápido y sin sentido para personas que valoran la
                        privacidad y la velocidad.
                        No hay anuncios ni seguimiento de terceros. Pagas unos dólares al año, y eso es todo.
                        Pinboard le permite marcar desde cualquier navegador, conectar hasta tres cuentas de Twitter
                        (y favoritos) y sincronizar con servicios populares como Instapaper o Pocket.
                        Por unos pocos dólares más al año, Pinboard ofrece un servicio de archivo que guarda una
                        copia de todo lo que marca como favorito, le brinda una búsqueda de texto completo y
                        verifica automáticamente su cuenta en busca de enlaces muertos.
                        Haga un recorrido rápido por el sitio para ver los tipos de cosas que puede hacer.</p>
                </div>
                <div class="col-sm-5">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">usuario</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">ingrese usuario
                                anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Contraseña Perdida</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>HORA</h1>
            <p>"Una operación de un solo hombre puede competir contra corporaciones de un millón de dólares y
                prosperar".</p>
        </div>
        <div class="col-sm">
            <h1>CABLIADO</h1>
            <p>"Un servicio de marcadores inteligente que le permite organizar enlaces [...] e incluso copias en caché
                de páginas web completas".</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>EL ECONOMISTO</h1>
            <P>"Un tipo en calzoncillos en algún lugar que tiene cinco ventanas abiertas a los servidores de la
                terminal".</P>
        </div>
        <div class="col-sm">
            <h1>EL GUARDIA</h1>
            <p>"Un tipo en calzoncillos en algún lugar que tiene cinco ventanas abiertas a los servidores de la
                terminal".</p>
        </div>
    </div>
</div>